<br>
<br>
<nav>
    <ul>
      <li><a href="/sajt/about">O sajtu</a></li>
      <li><a href="/sajt/kontakt">Kontakt</a></li>
      <li><a href="/sajt/faq">Česta pitanja</a></li>
      <li><a href="/sajt/privacy">Privatnost</a></li>
      <li><a href="/sajt/terms">Pravila sajta</a></li>
    </ul>
</nav>