<nav>
  <div class="site-title">
    <a href="/"><h3>Vežbamo</h3></a>
    <p>Sajt za pomoć u učenju</p>
  </div>
  <ul>
    <li><a href="/zadaci">Zadaci</a></li>
    <li><a href="/pitanja/pitanja">Pitanja</a></li>
    <!--<li><a href="/c_test/c_tests">Testovi</a></li>-->
    <li><a href="/sajt/user">Korisnički deo</a></li>
  </ul>
</nav>